@{
    ViewData["Title"] = "Sign In";
}

<div>
    <h1>Sign In</h1>
    <p>@ViewBag.error</p>
    <form asp-action="CheckCredentials">
        <div>
            <div>
                <label for="email"><b>Email</b></label><br />
                <input type="text" placeholder="Enter Email" name="email" id="email" required>
            </div><br />
            <div>
                <label for="psw"><b>Password</b></label><br />
                <input type="password" placeholder="Enter Password" name="password" id="password" required>
            </div><br />

            <button type="submit">Sign in</button>
        </div>
    </form>
</div>
